#navList{
    list-style: none;
    font-size: 2rem;
    display: flex;
    justify-content:space-between;
    align-items: center;
   width: 100%;
   padding: 15px;
   
   
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100vw;
    overflow-x: none;
    background-color: #f5f7fa;
    background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
}
nav{
    width: 100%;
    overflow-x: none;
}
.navbar{
    width: 100vw;
    min-height: 60px;
    /* background-color: rgba(139, 139, 205, 0.766); */
    background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;


}
#navHeading{
    font-size: 2.4rem;
    color: white;
}

a{
    text-decoration: none;
    color: whitesmoke;
    
}
#navItems{
    display: flex;
    gap: 40px;
}
.footerBox{
    width: 100%;
    background-color: #a6c0fe;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    color: azure;
    text-align: center;
    min-height: 40px;
}
.footerBox p{
    color: aquamarine;
    font-size: 2rem;
}