*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height:100vh;
    width: 100vw ;
   background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}
.musicCasscede{
    height: 660px;
    width: 400px;
    border-radius: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    background-image: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);
}
.musicCasscede img{
    width: 100%;
    height: 30%;
    
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
}
.textBox{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    width: 70%;
    text-align: center;
}
#amountBox{
    width: 80%;
    height: 18%;
    background-color: skyblue;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;
    

}
  .leftBox{
   /* width: fit-content; */
   height: 100%;
   display: flex;
   flex-direction: row;
align-items: center;
   gap: 15px;

}
.leftBox p{
    font-size: 2rem;
}
.imgBox img{
    height: 2.8rem;
    width: 3.5rem;

} 

#paymentButton{
    width: 80%;
    height: 9%;
    border-radius: 9px;
    background-color: brown;
    color: white;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.Cancel a{
    text-decoration: none;
    color: rgb(59, 49, 49);
    font-weight: bolder;
}
.rightBox a{
    font-size: 1.3rem;
}